/* Reset */
* {
  box-sizing: border-box;

}

/* Base */
body {
  margin: 0;
 font-family: 'Courier New', Courier, monospace;
  line-height: 1.6;
}
html, body {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



h1,
h2,
h3,
h4 {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 4px;
  margin: 10px 0;
}

/* Navbar */
.navbar {
  letter-spacing: 4px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.navbar :hover {
  color: #918e8e;
}
.card{
  padding: 5px;
}


.navbar-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.navbar a {
 
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  margin-left: 20px;
}
/* Hero */

.hero {

  position: relative;
}

.hero img {
  width: 100%;
}

/* Layout */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

.row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}

/* Images */
.image{
  width: 100%;

  border-radius: 5px;
  opacity: 0.8;
}
.image-second {
  width: 100%;
  height: 180px;
  border-radius: 5px;
  opacity: 0.8;
}

/* Text helpers */
.center {
  padding-bottom: 15px;
}

.muted {
  color: #595858;
  
}

/* Menu */
.menu-item {
  margin-bottom: 20px;
}

/* Contact */
input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
}

button {
  padding: 12px 20px;
  background: #eee;
  border: none;
  cursor: pointer;
}

/* Footer */
footer {
  background: #908e8e;
  text-align: center;
  padding: 30px;
}

.heading {
  font-weight: bold;
  font-size: large;
}

.carousel {
  width: 80%;
  max-width: 700px;
  height: 350px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 12px;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
  animation: slide 9s infinite;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation */
@keyframes slide {
  0%   { transform: translateX(0); }
  33%  { transform: translateX(0); }
    0%   { transform: translateX(0); }
  33%  { transform: translateX(0); }

    0%   { transform: translateX(0); }
  33%  { transform: translateX(0); }


}
